@charset "utf-8";

/* -----------------------layout----------------------- */
#container {display: flex;width: 100%;z-index: 200;}

/* -----------------------#container----------------------- */
#section { width: 100%;}
#section_inner {position: relative;}
.main_visual {width: 100%;}

/* 비디오 */
#vid {width: 100%;}
#vid_basic1600 {display: none;}


.mySwiper {display: none;}
.mySwiper>ul.swiper-wrapper {width: 100%;}
.mySwiper>ul.swiper-wrapper>.swiper-slide {width: 100%;}
.mySwiper>ul.swiper-wrapper>.swiper-slide>img {display: block; width: 100%; height: 527.34px;}

.visual_bottom {position: absolute;  left: 300px; top: 750px; width: 68%; height: 180px; margin: 0 auto;}
.notice_box {position: relative; float: left; width: 30%; height: 180px; background-color: rgb(0,0,0,0.30); margin-left: 20px;}
.notice_box>.notice_txt {font-size: 1.7rem; padding: 2%;  color: #fff; border-bottom: 1px solid #fff;}
.notice_box>ul {padding-top: 1.5%;}
.notice_box>ul>li {width: 100%; height: 40px; line-height: 40px; text-indent: 5px;}
.notice_box>ul>li>a {display: block; width: 100%; height: 40px; color: #fff;}

.notice_box>a.notice_more {position: absolute; top: 0; right: 10px; display: inline-block; width: 10%; text-align: center;}
.notice_box>a.notice_more>i {display: block; width: 100%; height: 40px; line-height: 40px; color: #fff;}

.notice_ct {float: right; width: 54%; overflow: hidden;}
.notice_ct>span {display: inline-block; float: left; width: 30%; margin: 11.025px 10px;}
.notice_ct>span:last-child {margin-right: 0;}

.notice_ct>span>img {display: block; width: 100%;}


/* #payment */
#payment_ct {width: 100%;margin: 0 auto;padding: 5% 0;}
.payment_bg {width: 100%;height: 500px; background-size: cover;background-repeat: no-repeat;background-image: url(../images/sky2400.jpg);}
.pay_item {display: flex; justify-content: space-around;  width: 1600px; padding-top: 34px; margin: 0 auto;}
.pay_txt {width: 48%;  padding-left: 5%;}
.pay_txt>li {display: block; padding-bottom: 5%;}
.pay_txt>li:nth-child(1) {font-size: 2rem; font-weight: bold; padding: 5% 0; text-decoration: underline; text-underline-position:under; font-family: 'Lato', sans-serif;}
.pay_txt>li:nth-child(2) {font-size: 2.2rem;}
.pay_txt a.use_btn {display: inline-block; width: 30%; height: 30px; line-height: 30px; border-radius: 20px; text-align: center; background-color: #fff;}

.pay_txt .red_point {color: red; font-weight: bold;}
.pay_txt>.pay_item div {height: 30px; line-height: 30px; background-color: #fff;}

.pay_video {width: 48%;}
#pay_vid {width: 100%;}

/* #joyful */
#joyful {display: flex; flex-flow: row nowrap; align-items: center; align-content: space-around; width: 1600px; margin: 0 auto;padding-bottom: 5%;}
.activity {width: 50%; height: 504px;}
.active_box00 { width: 25%;  margin-right: 1%;}
.active_box00>.notice {width: 100%;height: 252px; margin-bottom: 1%;}
.active_box00>.hotel {width: 100%;height: 252px;}
.active_box01 {width: 25%;height: 504px;}
.active_box01>.culture {width: 100%;height: 252px; margin-bottom: 1%;}
.active_box01>.food {width: 100%;height: 252px;}

figure.active {position: relative;overflow: hidden;color: #fff;margin-right: 1.2%;text-align: left;
background-color: rgb(11, 48, 104);font-size: 16px;-webkit-perspective: 50em;perspective: 50em;}
figure.active * {-webkit-transition: all 0.6s ease;transition: all 0.6s ease;}
figure.active img {opacity: 1;width: 100%;height: 100%;-webkit-transform-origin: 50% 0%;
-ms-transform-origin: 50% 0%;transform-origin: 50% 0%;}
figure.active figcaption {position: absolute;top: 0;left: 0;bottom: 0;width: 100%;-webkit-transform: rotateX(90deg);
transform: rotateX(90deg);-webkit-transform-origin: 50% 100%;-ms-transform-origin: 50% 100%;
transform-origin: 50% 100%;z-index: 1;opacity: 0;padding: 20px 30px;}
figure.active h4,figure.active p {line-height: 2em;}
figure.active h4 {margin: 0;font-size: 2.4rem;font-weight: 800;text-transform: uppercase;color: #eea430;}
figcaption>h4.big_txt {font-size: 3rem; color: #eea430;}
figure.active p {font-size: 0.9rem;font-weight: 500;margin: 0 0 15px;color: #fff;}
figcaption>p.active_infor {font-size: 1.2rem;}
figure.active .read-more {display: inline-block;border: 2px solid #fff;padding: 0.6em 1em;font-size: 0.9em;color: #fff;}
/* 호버 했을때 */
figure.active .read-more:hover {background-color: #fff;color: #333;}
figure.active:hover img,figure.active.hover img {-webkit-transform: rotateX(-90deg);transform: rotateX(-90deg);opacity: 0;}
figure.active:hover figcaption,figure.active.hover figcaption {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);
opacity: 1;-webkit-transition-delay: 0.2s;transition-delay: 0.2s;}


/* #event_ct */
#event_ct {position: relative;width: 100%;}
#event_ct>.event_bg {display: block;width: 100%;height: 630px;background-size: cover;background-position: center;background-color: rgba(170, 170, 170, 0.637); background-blend-mode: multiply;background-repeat: no-repeat;background-image: url(../images/event_bg.jpg);}
.event_ct_wrap {position: absolute; top: 0;width: 100%; margin: 0 auto;}
.event_top {width: 1600px; height: 3.9vw; padding-top: 1%; margin: 0 auto;}
.main_txt {display: inline-block;width: 92%; height: 3vw; font-size: 2vw;color: #fff;}
.event_top>.more_btn {display: inline-block;}
.event_top>.more_btn>a {display: block; width: 100%; color: #fff; text-align: center; font-size: 2rem;}

.event_inner {overflow: hidden; width: 1600px; height: 540px; margin: 0 auto; background-color: rgb(255, 255, 255,0.7);}
.event_box {width: 100%;height: 100%;}

.event_box>ul.event_list {width: 3000px; padding-top: 2.8%;}
.gall_event {display: flex;flex-flow: column wrap;width: 100%;}
li.gall_event>a {position: relative; display: block; width: 100%; height: 490px;}
li.gall_event>a:hover img {transform: scale(1.05); transition: all 0.3s linear;}
li.gall_event>a img {overflow:hidden;display: block;width: 70%; margin: 0 auto;}

#event_ct .detail_txt {display: block;width: 70%; height: 70px; margin: 0 auto; padding-top: 3%; text-align: center; line-height: 1.2; font-weight: bold; color:#333;}

.more_infor {display: none;}

/* #gift_ct */

#gift_ct {position: relative;width: 100%;}
.gift_bg {display: block;width: 100%;height: 714px;background-size: cover;background-position: center; background-repeat: no-repeat;background-image: url(../images/present_bg.png);}
#gift_inner {position: absolute; top:0; left:50%; transform:translateX(-50%); width: 1600px;}

.gift_txt {margin: 0 auto;}
.gift_txt>p {padding: 1.5% 0;}
.gift_txt>.main_txt {width: 100%; height: 70px; font-size: 2vw; color: #333;}
.gift_txt>.sub_txt {width: 100%; font-size: 1.2vw; color: #333; text-indent: 10px;}

.gift_gallary {display: flex;flex-flow: row wrap;justify-content: space-between; margin-top: 2%;}
.gift_item {display: flex;flex-flow: column wrap;width: 32%;height: 500px;background-color: rgba(255, 255, 255, 0.5);}

.gift_item>.gift_img {display: block;width: 100%;height: 308px;text-indent: -9999px;background-repeat: no-repeat;background-size: cover; background-position: center;}
.goods {background-image: url(../images/gift01.png);}
.tea_house {background-image: url(../images/gift02.png);}
.soup {background-image: url(../images/gift03.png);}

.item_txt { text-align: center;}
.item_txt>span { display: block; width: 100%;margin: 3% 0;}
.item_txt>.gift_head { font-size: 1.8vw; font-family: 'Nanum Gothic', sans-serif; }
.item_txt>.gift_mid {font-size: 0.8vw; line-height: 2;}
.item_txt>.buy_btn {width: 50%; margin: 0 auto; background-color: #333;}
.item_txt>.buy_btn>a {display: block;width: 100%;height: 30px;line-height: 30px; color: #fff;}
.m_gift_gallary {display: none;}


/* #sns_ct */
#sns_ct {position: relative;width: 100%;}

.sns_bg {width: 100%; height: 85vh; background-color: #7b7b88;}
.sns_ct_inner {position: absolute; top:10px; left:50%; transform:translateX(-50%); width: 1600px; margin: 0 auto;}
.sns_top {width: 100%; padding-top: 1%;}
.sns_top h3.main_txt {width: 100%; color: #333;text-align: center;}
.sns_top span {display: block;width: 100%; text-align: center;font-size: 1.5vw; color: #333; padding-bottom: 2%;}
.sns_items {display: flex; flex-flow: row wrap; justify-content: space-between; width: 80%; margin: 0 auto;}
.sns_items>li {width: 18%;}
.sns_items>li:nth-child(n+1):nth-child(-n+5) {margin-bottom: 2%;}
.sns_items>li>a {display: block; width: 100%;}
.sns_items>li>a>img {display: block; width: 100%;}

.sns_items>li>a:hover {background-color: rgb(255, 255, 255,0.5);}

.sns_more_btn {width: 80%; margin: 3% auto;}
.sns_more_btn>a {display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 1.1vw; font-weight: bold;}


/* --------------------------------------@media screen------------------------------------------- */
/* -----------------------------일반PC (1281~1600 / 1280px정렬)----------------------------- */
@media screen and (max-width : 1600px){

    #section {width: 100%;}
    #section_inner {position: relative;}
    .main_visual { display: flex; margin-top: 82px;}
    /* 비디오 */
    #vid {display: none;}

    #vid_basic1600 {display: block; height: calc(49.9vw/1.77);}
    #vid_basic1600>source {display: block; width: 100%; height: 30vw;}
    .mySwiper {overflow: hidden; display: block; width: 50%;}
    .mySwiper>ul.swiper-wrapper {width: 731px;}
    .mySwiper>ul.swiper-wrapper>.swiper-slide {width: 100%;}
    .mySwiper>ul.swiper-wrapper>.swiper-slide>img {display: block; width: 100%;height: calc(49.9vw/1.77);}

    .visual_bottom {display: none;}

    /* #payment */
    .payment_bg {display: flex; align-items: center; width: 100%; height: 450px;}
    .pay_item {width: 1280px; padding-top: 52.5px;}
    .pay_txt>li {padding-bottom: 3.5%;}
    .pay_txt>li:nth-child(1) {font-size: 2vw; font-weight: bold; padding: 5% 0; text-decoration: underline; text-underline-position:under; font-family: 'Lato', sans-serif;}
    .pay_txt>li:nth-child(2) {font-size: 2.5vw}
    .pay_txt a.use_btn {display: inline-block; width: 40%; height: 30px; line-height: 30px; border-radius: 20px; text-align: center; background-color: #fff;}

    .pay_txt>.pay_item div {height: 30px; line-height: 30px; background-color: #fff;}

    /* #joyful */
    #joyful {align-content: space-between; width: 1280px; padding-bottom: 5%;}
    .activity {width: 50%; height: 408px;}
    .active_box00 {margin-right: 1%;}
    .active_box01 {height: 408px;}
    .active_box00>.notice {height: 203.9px; margin-bottom: 1%;}
    .active_box00>.hotel {height: 203.9px;}
    .active_box01>.culture {height: 203.9px; margin-bottom: 1%;}
    .active_box01>.food {height: 203.9px;}

    figure.active h4 {margin: 0;font-size: 1.8rem;font-weight: 800;text-transform: uppercase;color: #eea430;}
    figcaption>h4.big_txt {font-size: 2.7rem;}
    figure.active p {font-size: 0.9rem;font-weight: 300;}
    figcaption>p.active_infor {font-size: 1rem;}
    figure.active .read-more {border: 1.5px solid #fff;font-size: 0.8em;}

    /* #event */
    #event_ct {width: 100%;}
    #event_ct>.event_bg {display: block;width: 100%;height: 500px;background-size: cover;background-position: center;background-color: rgba(170, 170, 170, 0.637); background-blend-mode: multiply;background-repeat: no-repeat;background-image: url(../images/event_bg.jpg);}
    .event_ct_wrap {position: absolute; top: 0;width: 100%; margin: 0 auto;}
    .event_top {overflow: hidden; width: 1280px; height: 3.9vw; padding: 0.5% 0; margin: 0 auto;}
    .main_txt {display: inline-block;width: 92%; height: 3vw; font-size: 2vw;color: #fff;}
    .event_top>.more_btn {display: inline-block;}
    .event_top>.more_btn>a {display: block; width: 100%; color: #fff; text-align: center; font-size: 1.5rem;}

    .event_inner {width: 1280px; height: 420px;}

    .event_box>ul.event_list {width: 3000px; padding-top: 2%;}
    .gall_event {display: flex;flex-flow: column wrap;width: 60%; height: 393px;}
    li.gall_event>a {overflow:hidden; position: relative; display: block; width: 100%; height: 393px;}
    li.gall_event>a:hover img {transform: scale(1.05); transition: all 0.3s linear;}
    li.gall_event>a img {overflow:hidden;display: block;width: 70%; margin: 0 auto;}

    #event_ct .detail_txt {padding-top: 3%;font-size: 0.9vw;}
    .more_infor {display: none;}

    /* #gift_ct */

    #gift_ct {position: relative;width: 100%;}
    .gift_bg {display: block;width: 100%;height: 714px;background-size: cover;background-position: center; background-repeat: no-repeat;background-image: url(../images/present_bg.png);}
    #gift_inner {position: absolute; top:0; left:50%; transform:translateX(-50%); width: 1280px;}

    .gift_txt>p {padding: 1.5% 0;}
    .gift_txt>.main_txt {width: 100%; height: 70px; font-size: 2.5vw; color: #333;}
    .gift_txt>.sub_txt {width: 100%; font-size: 1.5vw; color: #333;}

    .gift_gallary {justify-content: space-around; margin-top: 1%;}
    .gift_item {display: flex;flex-flow: column wrap;width: 32%;height: 510px;background-color: rgba(255, 255, 255, 0.5);}

    .gift_item>.gift_img {display: block;width: 100%;height: 308px;text-indent: -9999px;background-repeat: no-repeat;background-size: cover; background-position: center;}
    .goods {background-image: url(../images/gift01.png);}
    .tea_house {background-image: url(../images/gift02.png);}
    .soup {background-image: url(../images/gift03.png);}

    .item_txt {text-align: center;}
    .item_txt>span {display: block; width: 100%;margin: 5% 0;}
    .item_txt>.gift_head {font-size: 1.8vw; font-family: 'Nanum Gothic', sans-serif; }
    .item_txt>.gift_mid {font-size: 1.2vw; line-height: 2;}
    .item_txt>.buy_btn {width: 50%; margin: 0 auto; background-color: #333;}
    .item_txt>.buy_btn>a {display: block;width: 100%;height: 30px;line-height: 30px; color: #fff;}

    .m_gift_gallary {display: none;}

    /* #sns_ct */
    #sns_ct {position: relative;width: 100%;}

    .sns_bg {height: 71vh;}
    .sns_ct_inner {width: 1280px;}
    .sns_more_btn>a {display: block; width: 100%; height: 30px; line-height: 30px;font-size: 1.2vw;}
}

/* -----------------------------대형태블릿(769~1280 / 100%정렬)----------------------------- */
@media screen and (max-width : 1280px){

    /* #payment */
    /* .payment_bg {height: 36.5vh;} */
    .payment_bg {width: 100%; height: 57vw;}
    .pay_item {display: flex; flex-flow: column wrap; align-items: center; width: 100%;  padding-top:0;}
    .pay_txt {width: 48%;  padding-left: 5%;}
    .pay_txt>li {display: block; padding-bottom: 4%; font-size: 0.8rem;}
    .pay_txt>li:nth-child(1) {font-size: 2vw; font-weight: bold; padding: 5% 0; text-decoration: underline; text-underline-position:under; font-family: 'Lato', sans-serif;}
    .pay_txt>li:nth-child(2) {font-size: 2.5vw;}
    .pay_txt a.use_btn {display: inline-block; width: 40%; height: 30px; line-height: 30px; border-radius: 20px; text-align: center; background-color: #fff;}

    .pay_txt>.pay_item div {height: 30px; line-height: 30px; background-color: #fff;}

    /* #joyful */
    #joyful { align-content: space-between; width: 95%; padding-bottom: 5%;}

    .activity {width: 50%; height: 31.5vw;}
    .active_box00 {height: 31.5vw; margin-right: 1%;}
    .active_box01 {height: 31.5vw;}
    .active_box00>.notice {height: 15vw; margin-bottom: 6%;}
    .active_box00>.hotel {height: 15vw;}
    .active_box01>.culture {height: 15vw; margin-bottom: 6%;}
    .active_box01>.food {height: 15vw;}

    figcaption {display: none;}
    figure.active:hover img,figure.active.hover img {-webkit-transform: none;transform: none;opacity: 1;}

    /* #event */
    #event_ct {width: 100%;height: 45vw; padding-bottom: 5%;}
    #event_ct>.event_bg {display: none; background-color: #fff;}
    .event_ct_wrap {position: absolute; top: 0;width: 100%; margin: 0 auto;}
    .event_top {overflow: hidden; width: 100%; height: 3.9vw; padding: 0.5% 0; margin: 0 auto;}
    .main_txt {display: inline-block;width: 100%; text-align: center; height: 3.5vw; font-size: 3.5vw;color: #000;}
    .event_top>.more_btn {display: none;}

    .event_inner {width: 80%; height: 29vw; margin: 0 auto; overflow: hidden;}
    .event_box>ul.event_list {padding-top: 4%;}
    .gall_event {display: flex;flex-flow: column wrap;width: 60%; height: 393px;}
    li.gall_event>a {overflow:hidden; position: relative; display: block; width: 100%; height: 393px;}
    li.gall_event>a:hover img {transform: none;}
    li.gall_event>a img {overflow:hidden;display: block;width: 70%; margin: 0 auto;}

    #event_ct .detail_txt {padding-top: 1%;font-size: 1vw;}

    .more_infor {display: block;width: 80%; margin: 1% auto;}
    .more_infor>a {display: block; width: 100%; height: 30px; line-height: 30px; font-size: 1.2vw; text-align: center; border: 1px solid #000;}

    /* #gift_ct */

    #gift_ct {width: 100%;height: 35vw;}
    .gift_bg {display: none;}
    #gift_inner {width: 100%;}
    .gift_txt {display: none;}
    .gift_gallary {display: none;}
    .gift_img {display: none;}

    .m_gift_gallary {display: flex; justify-content: space-between; width: 90%; margin: 0 auto;}
    .m_tea_house {width: 40%; padding-top: 1.2%;}
    .m_tea_house>img {display: block; width: 100%; }
    .txt_area {width: 55%; padding-top: 1%;}

    .txt_area>li:nth-child(1) {width: 100%; font-size: 3.5vw; margin-bottom: 10%; font-family: 'Noto Sans KR', sans-serif;}
    .txt_area>li:nth-child(n+2):nth-child(-n+4) {width: 90%; font-size: 2.5vw; padding: 0 0 2% 1%; margin-bottom: 9%; border-bottom: 1px solid #000; border-left: 4px solid #000; font-family: 'Nanum Gothic', sans-serif;}
    .txt_area>li:nth-child(4) {padding-bottom: 0;}
    .txt_area>li>a {display: block;width: 100%;}
    .left_arrow {float: right; width: 5%; text-align: center; color: #333;}

    .item_txt>.gift_mid {display: none;}
    .item_txt>.buy_btn {display: none;}

    /* #sns_ct */
    #sns_ct {position: relative;width: 100%;}

    .sns_bg {width: 100%; height: 49vw; background-color: #ccd0d1;}
    .sns_ct_inner {position: absolute; top:10px; left:50%; transform:translateX(-50%); width: 100%; margin: 0 auto;}
    .sns_top {width: 100%; padding-top: 1%;}
    .sns_top h3.main_txt {width: 100%; font-size: 3.5vw; color: #333;text-align: center;}
    .sns_top span {display: block;width: 100%; text-align: center;font-size: 2.5vw; color: #333; padding-bottom: 2%;}
    .sns_items {display: flex; flex-flow: row wrap; justify-content: space-between; width: 75%; margin: 0 auto;}
    .sns_items>li {width: 21%;}
    .sns_items>li:nth-child(n+1):nth-child(-n+5) {margin-bottom: 2%;}
    .sns_items>li:nth-child(n+9):nth-child(-n+10) {display: none;}

    .sns_items>li>a {display: block; width: 100%;}
    .sns_items>li>a>img {display: block; width: 100%;}

    .sns_items>li>a:hover {background-color: rgb(255, 255, 255,0.5);}

    .sns_more_btn {width: 80%; margin: 0 auto;}
    .sns_more_btn>a {display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 1.5vw; font-weight: bold;}
}


/* -----------------------------중형태블릿(415~768 / 100%정렬)----------------------------- */
@media screen and (max-width : 768px){

    #vid_basic1600 {display: none;}
    #vid_basic1600>source {display: none;}
    .mySwiper {display: block; width: 100vw;}
    .mySwiper>ul.swiper-wrapper {width: 100vw;}
    .mySwiper>ul.swiper-wrapper>.swiper-slide {width: 100vw;}
    .mySwiper>ul.swiper-wrapper>.swiper-slide>img {display: block; width: 100vw; height: 35vh; background-size: contain;}

    /* #payment */
    .payment_bg {width: 100%; height: 74vw;}
    .pay_item {display: flex; flex-flow: column wrap; align-items: center; width: 100%;}
    .pay_txt {width: 80%; margin: 0 auto;}
    .pay_txt>li {display: block; padding-bottom: 5%; font-size: 0.9rem;}
    .pay_txt>li:nth-child(1) {font-size: 1.5rem; font-weight: bold; padding: 5% 0; text-decoration: underline; text-underline-position:under; font-family: 'Lato', sans-serif;}
    .pay_txt>li:nth-child(n+2):nth-child(-n+3) {display: none;}
    .pay_txt>li:nth-child(2) {font-size: 3vw;}
    .pay_txt a.use_btn {display: inline-block; width: 40%; height: 30px; line-height: 30px; border-radius: 20px; text-align: center; background-color: #fff;}

    .pay_txt>.pay_item div {height: 30px; line-height: 30px; background-color: #fff;}

    .pay_video {width: 65%;}

    /* #joyful */
    #joyful {flex-flow: row wrap; align-content: space-between; justify-content: center; width: 95%; padding-bottom: 5%;}

    .activity {width: 100%; height: 55vw; margin-bottom: 2%;}
    .active_box00 { width: 48%; height: 50vw;}
    .active_box01 {width: 48%; height: 50vw;}
    .active_box00>.notice {height: 25vw; margin-bottom: 5%;}
    .active_box00>.hotel {height: 25vw;}
    .active_box01>.culture {height: 25vw; margin-bottom: 5%;}
    .active_box01>.food {height: 25vw;}

    figcaption {display: none;}
    figure.active:hover img,figure.active.hover img {-webkit-transform: none;transform: none;opacity: 1;}

    /* #event */
    #event_ct {width: 100%;height: 60vw; padding-bottom: 5%;}
    #event_ct>.event_bg {display: none; background-color: #fff;}
    .event_ct_wrap {position: absolute; top: 0;width: 100%; margin: 0 auto;}
    .event_top {overflow: hidden; width: 100%; height: 6vw; padding: 0.5% 0; margin: 1% auto;}
    .main_txt {display: inline-block;width: 100%; text-align: center; height: 3.9vw; font-size: 3.9vw;color: #000;}
    .event_top>.more_btn {display: none;}

    .event_inner {width: 90%; height: 38vw; margin: 0 auto; overflow: hidden;}
    .event_box {}
    .event_box>ul.event_list {padding: 2% 0;}
    .gall_event {display: flex;flex-flow: column wrap;width: 100%;}
    li.gall_event>a {overflow:hidden; position: relative; display: block; width: 100%; height: 393px;}
    li.gall_event>a:hover img {transform: none;}
    li.gall_event>a img {overflow:hidden;display: block;width: 80%; margin: 0 auto;}

    #event_ct .detail_txt {padding-top: 3%;font-size: 1.2vw;}

    .more_infor {display: block;width: 70%; margin: 1% auto;}
    .more_infor>a {display: block; width: 100%; height: 25px; line-height: 25px; font-size: 1.8vw;  text-align: center; border: 1px solid #000;}

    /* #gift_ct */

    #gift_ct {display: block;width: 100%; height: 35vw;}
    .gift_bg {display: none;}
    #gift_inner {display: block;width: 100%; height: 35vw;}
    .gift_txt {display: none;}
    .gift_gallary {display: none;}
    .gift_img {display: none;}

    .m_gift_gallary {display: flex; justify-content: space-between; width: 90%; margin: 0 auto;}
    .m_tea_house {width: 40%;padding-top: 1.2%;}
    .m_tea_house>img {display: block; width: 100%; }
    .txt_area {width: 55%; padding-top: 1%;}

    .txt_area>li:nth-child(1) {width: 100%; font-size: 3vw; margin-bottom: 10%; font-family: 'Noto Sans KR', sans-serif;}
    .txt_area>li:nth-child(n+2):nth-child(-n+4) {width: 90%; font-size: 2.2vw; padding: 0 0 2% 1%; margin-bottom: 9%; border-bottom: 1px solid #000; border-left: 4px solid #000; font-family: 'Nanum Gothic', sans-serif;}
    .txt_area>li:nth-child(4) {padding-bottom: 0;}
    .txt_area>li>a {display: block;width: 100%;}
    .left_arrow {float: right; width: 5%; font-size: 3.5vw; text-align: center; color: #333;}

    /* #sns_ct */
    #sns_ct {position: relative;width: 100%;}

    .sns_bg {width: 100%; height: 41vw; background-color: #ccd0d1;}
    .sns_ct_inner {position: absolute; top:10px; left:50%; transform:translateX(-50%); width: 100%; margin: 0 auto;}
    .sns_top {width: 100%; padding-top: 1%;}
    .sns_top h3.main_txt {width: 100%; color: #333;text-align: center;}
    .sns_top span {display: block;width: 100%; text-align: center;font-size: 2vw; color: #333; padding-bottom: 2%;}
    .sns_items {display: flex; flex-flow: row wrap; justify-content: space-between; width: 75%; margin: 0 auto;}
    .sns_items>li {width: 30%;}
    .sns_items>li:nth-child(n+1):nth-child(-n+5) {margin-bottom: 2%;}
    .sns_items>li:nth-child(n+4):nth-child(-n+10) {display: none;}

    .sns_items>li>a {display: block; width: 100%;}
    .sns_items>li>a>img {display: block; width: 100%;}

    .sns_items>li>a:hover {background-color: rgb(255, 255, 255,0.5);}

    .sns_more_btn {width: 80%; margin: 0 auto;}
    .sns_more_btn>a {display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 1.8vw; font-weight: bold;}
}


/* -----------------------------모바일(~414px / 100%정렬)----------------------------- */
@media screen and (max-width : 414px){
    .main_visual { display: flex; margin-top: 53px;}
    .mySwiper>ul.swiper-wrapper>.swiper-slide>img {display: block; width: 100vw; height: 27vh; background-size: contain;}
    
    /* #payment_ct */
    .payment_bg {background-image:none;}
    #payment_bg {width: 100%; height: 150px; background-position: center; background-repeat: no-repeat; background-size: contain; background-image: url(../images/m_pay_bg.png);}
    .pay_txt {width: 100%;  padding-right: 5%;}
    .pay_txt>li {display: block; padding-bottom: 2.5%; font-size: 1rem; text-align: right;}
    .pay_txt>li:nth-child(1) {font-size: 3.5vw; font-weight: bold; padding: 5% 0; text-decoration: underline; text-underline-position:under; font-family: 'Lato', sans-serif;}
    .pay_txt>li:nth-child(n+2):nth-child(-n+3) {display: none;}
    .pay_txt>li:nth-child(n+4):nth-child(-n+6) {font-size: 3.5vw;}
    .pay_txt a.use_btn {display: inline-block; width: 40%; height: 30px; line-height: 30px; border-radius: 20px; text-align: center; background-color: #fff;}

    .pay_txt>.pay_item div {height: 30px; line-height: 30px; background-color: #fff;}
    .pay_video {display: none;}

    /* #joyful_ct */
    #joyful {flex-flow: row wrap; align-content: space-between; justify-content: center; width: 95%; padding-bottom: 5%;}

    .activity {width: 100%; height: 55vw; margin-bottom: 2.5%;}
    .active_box00 { width: 48%; height: 50vw;}
    .active_box01 {width: 48%; height: 50vw;}
    .active_box00>.notice {height: 25vw; margin-bottom: 2.5%;}
    .active_box00>.hotel {height: 25vw;}
    .active_box01>.culture {height: 25vw; margin-bottom: 2.5%;}
    .active_box01>.food {height: 25vw;}

    figcaption {display: none;}
    figure.active:hover img,figure.active.hover img {-webkit-transform: none;transform: none;opacity: 1;}


    /* #event_ct */
    #event_ct {width: 100%;height: 75vw; padding-bottom: 5%;}
    #event_ct>.event_bg {display: none; background-color: #fff;}
    .event_ct_wrap {position: absolute; top: 0;width: 100%; margin: 0 auto;}
    .event_top {overflow: hidden; width: 100%; height: 6vw; padding: 0.5% 0; margin: 2% auto;}
    .main_txt {display: inline-block;width: 100%; text-align: center; height: 3.5vw; font-size: 3.5vw;color: #000;}
    .event_top>.more_btn {display: none;}

    .event_inner {width: 100%; height: 52vw; margin: 0 auto;}
    .event_box {width: 100%;}
    .event_box>ul.event_list {width: 100%; padding: 2% 0;}
    .gall_event {display: flex;flex-flow: column wrap;width: 100%;}
    li.gall_event>a {overflow:hidden; position: relative; display: block; width: 100%; height: 393px;}
    li.gall_event>a:hover img {transform: none;}
    li.gall_event>a img {overflow:hidden;display: block;width: 80%; margin: 0 auto;}

    #event_ct .detail_txt {padding-top: 3%;font-size: 2.5vw;}

    .more_infor {display: block;width: 70%; margin: 1% auto;}
    .more_infor>a {display: block; width: 100%; height: 20px; line-height: 20px; font-size: 2.2vw; text-align: center; border: 1px solid #000;}

    /* #gift_ct */

    #gift_ct {display: block;width: 100%; height: 34vw; margin-bottom: 5%;}
    #gift_inner {display: block;width: 100%;}

    .m_gift_gallary {display: flex; justify-content: space-between; width: 90%;margin: 0 auto;}
    .m_tea_house {width: 40%;padding-top: 1.2%;}
    .m_tea_house>img {display: block; width: 100%; }
    .txt_area {width: 55%; padding-top: 1%;}

    .txt_area>li:nth-child(1) {width: 100%; font-size: 3vw; margin-bottom: 10%; font-family: 'Noto Sans KR', sans-serif;}
    .txt_area>li:nth-child(n+2):nth-child(-n+4) {width: 90%; font-size: 2.2vw; padding: 0 0 2% 1%; margin-bottom: 9%; border-bottom: 1px solid #000; border-left: 4px solid #000; font-family: 'Nanum Gothic', sans-serif;}
    .txt_area>li:nth-child(4) {padding-bottom: 0;}
    .txt_area>li>a {display: block;width: 100%;}
    .left_arrow {float: right; width: 5%; font-size: 3.5vw; text-align: center; color: #333;}

    /* #sns_ct */

    .sns_bg {height: 47vw;}
    .sns_ct_inner {position: absolute; top:10px; left:50%; transform:translateX(-50%); width: 100%; margin: 0 auto;}
    .sns_top {width: 100%; padding-top: 1%;}
    .sns_top h3.main_txt {font-size: 3.5vw;}
    .sns_top span {font-size: 3vw; padding: 2% 0;}
    .sns_items {display: flex; flex-flow: row wrap; justify-content: space-between; width: 75%; margin: 0 auto;}
    .sns_items>li {width: 30%;}
    .sns_items>li:nth-child(n+1):nth-child(-n+5) {margin-bottom: 2%;}
    .sns_items>li:nth-child(n+4):nth-child(-n+10) {display: none;}

    .sns_items>li>a {display: block; width: 100%;}
    .sns_items>li>a>img {display: block; width: 100%;}

    .sns_items>li>a:hover {background-color: rgb(255, 255, 255,0.5);}

    .sns_more_btn {width: 80%; margin: 0 auto;}
    .sns_more_btn>a {display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 2.2vw; font-weight: bold;}
}