@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited{
	text-decoration: none;
}
#wrap a:active{
	text-decoration: #000;
}
.hidden {
    position: absolute;
    left: -1000px;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff
}
input.underline {
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    border-bottom: 1px solid #000;
    outline: none;
}

* {
	color: #333;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}
html {
	font-size: 16px;
}
.clear {
	display: block;
	clear:both;
	content:'';
}
/* -----------------------skip_nav----------------------- */
#skip_nav{position:relative; width:100%;overflow:hidden;}
#skip_nav a{display:block; height:1px; margin-bottom:-1px;overflow:hidden; text-align:center; text-decoration:none; color:#333;font-size:12px;}
#skip_nav a:hover,#skip_nav a:focus,#skip_nav a:active{
display:block;height:auto;padding:5px 0; background:#f2f2f2;}

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
